body {
  --mainColor: #06116199;
  --actionColor: #ff3864;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16pt;
  line-height: 1.5;
}

.headerimg {
  background: linear-gradient(var(--mainColor), var(--mainColor)),
    url("../assets/ProfilePic1.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

.headertext {
  text-align: right;
  color: #fff;
  padding: 1.5rem;
}

.headertext h1,
h2 {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

img {
  max-width: 100%;
}

.actionbutton {
  height: 3rem;
  width: 3rem;
  line-height: 1.4;
  margin-top: 1rem;
  text-align: center;
  border-radius: 50%;
  background-color: var(--actionColor);
  border: none;
  font-family: Montserrat;
}

.actionbutton:focus,
.actionbutton:active {
  outline: none;
}

a {
  text-decoration-line: none;
  color: inherit;
}

@media (min-width: 470px) {
  .headerimg {
    background-size: contain;
    background-position: left;
  }
  .headertext {
    padding: 3rem;
  }
}

@media (min-width: 470px) and (orientation: landscape) {
  .headerimg {
    background-size: contain;
    background-position: left;
  }
  .buttoncontainer {
    display: inline;
    margin: 0.5rem;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 5.9vw;
  }
  h2 {
    font-size: 2.1vw;
  }
  .headertext {
    padding: 3rem;
  }
}
